.title {
  width: 100%;
  height: 80px;
  margin: 0 auto;
}
.title-top {
  height: 4px;
  background: #c9a063;
}
.title-down {
  height: 76px;
}
.title-down-R {
  width: 250px;
  height: 76px;
  float: left;
}
.title-down-R img {
  margin: 20px 60px;
  height: 30px;
  width: 120px;
}
.title-down-C {
  width: 750px;
  height: 76px;
  float: left;
}
.title-down-C ul {
  height: 76px;
}
.title-down-C ul li :hover {
  color: #c9a063;
}
.title-down-C ul li a {
  text-align: center;
  line-height: 40px;
  width: 90px;
  height: 76px;
  font-size: 16px;
  color: #000000;
}
.title-down-C ul li p {
  width: 250px;
}
.title-down-C ul li p span {
  margin-left: 10px;
}
.title-down-C ul li p span a {
  font-size: 15px;
}
.title-down-L {
  width: 300px;
  float: left;
  height: 76px;
}
.title-down-L .Lp1 {
  width: 160px;
  height: 76px;
  float: left;
}
.title-down-L .Lp1 .p-t {
  font-size: 12px;
  color: darkgray;
  margin: 15px 0 0 10px;
}
.title-down-L .Lp1 .p-d {
  font-size: 12px;
  margin: 1px 0 0 10px;
}
.title-down-L .Lp1 .p-d a {
  margin-right: 5px;
  color: grey;
  text-decoration: none;
}
.title-down-L .Lp1 .p-d :hover {
  color: #c9a063;
}
.title-down-L .Lp2 {
  width: 40px;
  height: 76px;
  float: left;
}
.title-down-L .Lp2 img {
  width: 83px;
  height: 38px;
  margin: 17px 2px;
}
/*---------------------------*/
.top {
  width: 800px;
  height: 570px;
}
.top .img01 {
  width: 800px;
  height: 450px;
  overflow: hidden;
}
.top .img01 .img0101 {
  transition: all 1s ease;
}
.top .img01 .img0101:hover {
  transform: scaleY(1.1) scaleX(1.1);
}
.top .top-bottom {
  width: 800px;
  height: 120px;
  border-bottom: 1px solid #eeeeee;
}
.top .top-bottom:hover {
  background: #f9f9f9;
}
.top .top-bottom h4 a {
  color: #000000;
  text-decoration: none;
}
.top .top-bottom h4 a:hover {
  color: #d6a863;
}
.top .top-bottom p {
  color: #888888;
}
.top .top-bottom p a {
  color: #000000;
  text-decoration: none;
}
.top .top-bottom p a:hover {
  color: #d6a863;
}
.link01 {
  width: 800px;
  height: 100px;
  border-bottom: 1px solid #eeeeee;
}
.link01:hover {
  background: #f9f9f9;
}
.link01 h4 {
  padding-top: 30px;
  margin: 0 auto;
}
.link01 h4 a {
  color: #000000;
  text-decoration: none;
}
.link01 h4 a:hover {
  color: #d6a863;
}
.link01 p {
  color: #888888;
  padding-top: 10px;
}
.link01 p a {
  color: #000000;
  text-decoration: none;
}
.link01 p a:hover {
  color: #d6a863;
}
.link02 {
  width: 800px;
  height: 184px;
  border-bottom: 1px solid #eeeeee;
}
.link02:hover {
  background: #f9f9f9;
}
.link02 .img02 {
  width: 255px;
  height: 160px;
  overflow: hidden;
  padding-top: 20px;
}
.link02 .img02 .img0202 {
  transition: all 1s ease;
}
.link02 .img02 .img0202:hover {
  transform: scaleY(1.1) scaleX(1.1);
}
.link02 h4 {
  margin: 0 auto;
  padding-top: 30px;
}
.link02 h4 a {
  color: #000000;
  text-decoration: none;
}
.link02 h4 a:hover {
  color: #d6a863;
}
.link02 p {
  color: #888888;
  padding-top: 10px;
}
.link02 p a {
  color: #000000;
  text-decoration: none;
}
.link02 p a:hover {
  color: #d6a863;
}
.ph {
  width: 360px;
  height: 600px;
  font-size: 16px;
  margin-left: 50px;
}
.ph div {
  border-bottom: 1px solid #eeeeee;
  padding-top: 18px;
}
.ph h4 {
  font-weight: bold;
}
.ph .p1 {
  font-weight: bold;
}
.ph a {
  text-decoration: none;
  color: #000000;
}
.ph a:hover {
  color: #d6a863;
}
.ph .imgtb {
  width: 360px;
  height: 202px;
  overflow: hidden;
}
.ph .imgtb .imgtb01 {
  transition: all 1s ease;
}
.ph .imgtb .imgtb01:hover {
  transform: scaleY(1.1) scaleX(1.1);
}
.ph1 {
  width: 360px;
  height: 480px;
  font-size: 16px;
  margin-left: 50px;
}
.ph1 div {
  border-bottom: 1px solid #eeeeee;
}
.ph1 h4 {
  font-weight: bold;
}
.ph1 .p1 {
  font-weight: bold;
}
.ph1 a {
  text-decoration: none;
  color: #000000;
}
.ph1 a:hover {
  color: #d6a863;
}
.ph1 .imgtb {
  width: 360px;
  height: 202px;
  overflow: hidden;
}
.ph1 .imgtb .imgtb01 {
  transition: all 1s ease;
}
.ph1 .imgtb .imgtb01:hover {
  transform: scaleY(1.1) scaleX(1.1);
}
.bottom {
  text-align: center;
  margin-top: 20px;
}
.bottom a {
  color: #888888;
  text-decoration: none;
}
.bottom a:hover {
  color: #d6a863;
}
.bottom p {
  color: #888888;
  margin-top: 10px;
}
