.title {
  width: 100%;
  height: 80px;
  margin: 0 auto;
}
.title-top {
  height: 4px;
  background: #c9a063;
}
.title-down {
  height: 76px;
}
.title-down-R {
  width: 250px;
  height: 76px;
  float: left;
}
.title-down-R img {
  margin: 20px 60px;
  height: 30px;
  width: 120px;
}
.title-down-C {
  width: 750px;
  height: 76px;
  float: left;
}
.title-down-C ul {
  height: 76px;
}
.title-down-C ul li :hover {
  color: #c9a063;
}
.title-down-C ul li a {
  text-align: center;
  line-height: 40px;
  width: 90px;
  height: 76px;
  font-size: 16px;
  color: #000000;
}
.title-down-C ul li p {
  width: 250px;
}
.title-down-C ul li p span {
  margin-left: 10px;
}
.title-down-C ul li p span a {
  font-size: 15px;
}
.title-down-L {
  width: 300px;
  float: left;
  height: 76px;
}
.title-down-L .Lp1 {
  width: 160px;
  height: 76px;
  float: left;
}
.title-down-L .Lp1 .p-t {
  font-size: 12px;
  color: darkgray;
  margin: 15px 0 0 10px;
}
.title-down-L .Lp1 .p-d {
  font-size: 12px;
  margin: 1px 0 0 10px;
}
.title-down-L .Lp1 .p-d a {
  margin-right: 5px;
  color: grey;
  text-decoration: none;
}
.title-down-L .Lp1 .p-d :hover {
  color: #c9a063;
}
.title-down-L .Lp2 {
  width: 40px;
  height: 76px;
  float: left;
}
.title-down-L .Lp2 img {
  width: 83px;
  height: 38px;
  margin: 17px 2px;
}
.one {
  width: 1120px;
  height: 50px;
  background: #eeeeee;
}
.one .one-1 {
  width: 50px;
  height: 50px;
  float: left;
}
.one .one-1 .box {
  width: 15px;
  height: 15px;
  background: #1596f5;
  margin: 15px auto;
}
.one .one-2 {
  height: 50px;
  float: left;
}
.one .one-2 h3 {
  line-height: 15px;
}
.box1 {
  width: 5px;
  height: 50px;
  background: #1596f5;
}
.one-3 {
  width: 50px;
  height: 50px;
  margin-right: 20px ;
  float: right;
}
.one-3 p a {
  color: #999999;
  line-height: 50px;
  font-size: 19px;
  text-decoration: none;
}
.one-3 p a:hover {
  color: #1596f5;
}
.two {
  width: 1120px;
  height: 350px;
  background: #1596f5;
}
.two-1 {
  width: 1120px;
  height: 150px;
  background: yellow;
}
.img1 {
  width: 235px;
  height: 132px;
}
.zp a {
  color: #000000;
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
}
.zp a:hover {
  color: #1596f5;
}
.bottom {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 40px;
  border-top: 1px solid #999999;
}
.bottom a {
  color: #000000;
  text-decoration: none;
}
.bottom p {
  padding-top: 10px;
}
